$--color-primary: #409EFF !default;
$--color-success: #67C23A !default;
$--color-warning: #E6A23C !default;
$--color-danger: #F56C6C !default;
$--color-info: #909399 !default;
$--color-primary-text: #303133 !default;
$--color-regular-text: #606266 !default;
$--color-secondary-text: #909399 !default;
$--color-placeholder-text: #C0C4CC !default;
$--color-border-base: #DCDFE6 !default;
$--color-border-light: #E4E7ED !default;
$--color-border-lighter: #EBEEF5 !default;
$--color-border-extralight: #F2F6FC !default;
$--background-color-base: #F5F7FA !default;